form .text-response{
  margin-top: 2px;
  font-weight: bold;
}
.tab-count {
    background-color: #ff5471;
    color: #fff;
    padding: 0px 5px;
    border-radius: 3px;
    margin-left: 5px;
    font-size: 12px;
}