
html,
body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  background: #fff;
  color: #000;
  height: 100%;
  min-height: 100%;
  font-feature-settings:"kern";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul,
ol,
dl {
  padding: 0 !important;
  margin: 0 !important;
}
h1, h2, h3, h4, h5, h6{
    color: inherit;
    margin-bottom: 12px;
    font-weight: 700;
    color:#222;
    a{
        color: #4199ff !important;
        font-weight: normal;
        font-size: 14px;
        position: relative;
        top:-5px;
        left: -4px;
        i{
            &.mdi:not(.mdi.mdi-plus){
                font-size: 18px;
            }
            position: relative;
            left:5px;
        }
        &.btn-icon{
            position: relative;
            top:-10px;
        }
    }
    span.badge{
        position: relative;
        top:-5px;
    }
    
}

h1{
    font-size: 28px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 20px;
}
h5{
    font-size: 16px;
}
h6{
    font-size: 14px;
    margin-bottom: 4px;
}
a {
    color: #4199ff;
    text-decoration: none;
    cursor: pointer;
}
label{
    font-weight: 400;
    color: #6C757D;
}
p{
    margin-bottom: 10px;
    &:last-child{
        margin-bottom: 0;
    }
}
input[type='text'], input[type='tel'],input[type='email'], input[type='number'], input[type='password'], textarea, select{
    border-radius: 5px !important;
    border:solid 1px #ced4da!important;
    font-weight: 700 !important;
}
button:active{
    background: inherit !important;
}
.p-dialog {
    .p-dialog-header{
        padding: 8px 1.15rem !important;
    }
}

hr{
    border-top: dashed 1px #ddd !important;
    opacity: 1;
}