.main-data-grid {
  margin-bottom: 20px;
  width: 100%;
  overflow-y: auto;
  h5 {
    margin-bottom: 20px;
  }
  .data-grid {
    display: block;
    .data-grid-header {
      display: flex;
      background: #eaeaea;
      .data-grid-cell {
        text-transform: uppercase;
        min-width: calc(100% / 4);
        padding: 10px 20px;
      }
    }
    .data-grid-cell-border {
      margin-top: 5px;
      border: 1px solid rgb(210, 207, 207);
      border-radius: 5px;
      .data-grid-cell {
        padding: 10px 20px;
        min-width: calc(100% / 4);
      }
    }
  }
}

/* Media query for larger screens (adjust max-width as needed) */
@media only screen and (min-width: 992px) {
  .full-width label  {
    display: none;
  }
  .full-width label +.label2forcard {
    display: none;
  }
}
@media screen and (min-width: 280px) and (max-width: 991px) {
    .data-grid-cell {
      display: none;
      margin-top:0 !important;
      .divforpnumber{
      .label2forcard{
        color: black !important;  
      }
    }
  }
  .data-grid-cell {
    .phoneNoContent:nth-child(2){
      margin-top:20px;
    }
  }
  .data-grid-cell-border {
    margin-top: 0px !important;
    .data-grid-cell {
      margin-top: 0px !important;
      min-width: 100% !important;
    }
  
  }
  .full-width label, .full-width div {
    display:block;
  }
  .data-grid {
    display: none;
  }
}
